<div class="text-section text-centered">
    <h1 class="neon-red-title main-title">Yonis Savary</h1>
    <p class="text-left">
        Bienvenue sur mon portfolio ! Vous pourrez y trouver mes différents projets, mes compêtences,
        aussi vous pourrez me contacter tout en bas 
    </p>
    <h2 class="neon-red-title">Une petite présentation</h2>
    <p class="text-left">
        J'ai commencé à me passionner pour l'informatique autour de 10 ans, et j'ai très vite su que je voulais en faire mon métier, et qu'au vue de l'étendu du domaine, je ne m'ennuirai jamais, j'ai donc passé mon Bac STI2D en 2018, et mon BTS SN en 2020.
        Je commencerai l'année prochaine une licence PRO en développement web à Aix-En-Provence pour finaliser mes études
    </p>
</div>