<div class="text-centered">
	<h2 class="neon-red-title">Mes Projets</h2>
	<p class="text-section">
		Voici une petite présentation de projets qui m'ont aidé à m'entraîner, vous pouvez visiter leurs page github
		respectives en cliquant sur leurs titres
	</p>
	<div class="f-row f-wrap f-space-e project-div">
		<div class="project-card">
			<img class="project-image responsive-disappear" src="/img/apps/portfolio.png">
			<div class="project-description">
				<a class="no-style-link" href="https://github.com/YonisSavary/Portfolio">
					<h3>Portfolio</h3>
				</a>
				<p>Une autre version de mon portfolio (plus "pro"), vous pourrez le retrouver sur mon github</p>
			</div>
		</div>
		<div class="project-card">
			<img class="project-image responsive-disappear" src="/img/apps/roundtags.png">
			<div class="project-description">
				<a class="no-style-link" href="https://github.com/YonisSavary/RoundTags">
					<h3>Round Tags</h3>
				</a>
				<p>Système de recherche de méta-données (albums musicaux) grâce à une API, + application via un script python</p>
			</div>
		</div>
		<div class="project-card">
			<img class="project-image responsive-disappear" src="/img/apps/takenotes.png">
			<div class="project-description">
				<a class="no-style-link" href="https://github.com/YonisSavary/Got-It">
					<h3>Got-It</h3>
				</a>
				<p>Une petite application qui peut se résumer à un bloc notes en ligne (avec un système d'utilisateur)</p>
			</div>
		</div>
		<div class="project-card">
			<img class="project-image responsive-disappear" src="/img/apps/tictactwo.png">
			<div class="project-description">
				<a class="no-style-link" href="https://github.com/YonisSavary/TicTacTwo">
					<h3>TicTacTwo</h3>
				</a>
				<p>Un TicTacToe en ligne, fonctionnant grâce à des Web-Sockets</p>
			</div>
		</div>
	</div>
</div>