<div class="text-section text-centered">
    <h2 class="neon-red-title">Mes Compétences</h2>
    <div class="f-row f-responsive">
        <div class="f-column f-share">
            <h3 class="neon-blue">Front-End</h3>
            <ul>
                <li>HTML5 (Avancé)</li>
                <li>CSS3 (Avancé)</li>
                <li>SASS (Intermédiaire)</li>
                <li>Javascript (Avancé)</li>
                <li>JQuery (Débutant) </li>
            </ul>
        </div>
        <div class="f-column f-share">
            <h3 class="neon-blue">Back-End</h3>
            <ul>
                <li>PHP (Intermédiaire)</li>
                <li>NodeJS (Avancé)</li>
                <li>Express JS (Intermédiaire)</li>
                <li>MySQL (Intermédiaire)</li>
            </ul>
        </div>
    </div>
</div>